:root {
    --color-blue: #4286f5;
    --color-green: #109d58;
    --color-red: #ea4235;
    --color-yellow: #fabd03;
    --color-black: #484a52;
    --color-scrollbar-background: #f3f2f7;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
  }
  
  .menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }
  
  nav ul li a:hover {
    color: #109d58;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }
  
  .inge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }
  
  .col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
  }
  
  .col-1 h2 {
    font-size: 54px;
  }
  
  .col-1 h3 {
    font-size: 28px;
    color: #5a4a4a;
    font-weight: 100;
    margin: 20px 0 10px;
  }
  
  .col-1 p {
    font-size: 16px;
    color: #575252;
    font-weight: 100;
  }
  
  .col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  input[type="text"] {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #109d58;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: right; */
  }
  
  #generate {
    background-color: #ea4235;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    color: #fff;
    outline: none;
    background: linear-gradient(to right, #109d58, #fabd03);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
  }
  
  button img {
    width: 30px;
    display: none;
  }
  
  button:hover img {
    display: block;
  }
  
  button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .col-1::after {
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(#ea4235, #fabd03);
    position: absolute;
    left: -40px;
    top: 8px;
  }
  
  .col-2 {
    position: relative;
    flex-basis: 80%;
    display: flex;
    align-items: center;
  }
  
  .col-2 .controller {
    width: 90%;
  }
  
  .color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#d33333, #56001c);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
  }
  
  .add-btn img {
    width: 55px;
    margin-bottom: 5px;
    border-radius: 30px;
  }
  
  .add-btn {
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  
  .social-links img {
    height: 13px;
    margin: 20px;
    cursor: pointer;
  }
  
  .center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-input {
    width: 250px;
    padding: 20px;
    background: #fff;
    /* border: 2px dashed #555; */
  }
  .form-input input {
    display: none;
  }
  .form-input label {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--color-yellow);
    color: #fff;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    text-transform: Uppercase;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
  }
  
  img#file-ip-1-preview {
    padding: 20px;
    margin-top: 10px;
    margin-left: 100px;
    height: 350px;
  
    position: relative;
    flex-basis: 80%;
    display: flex;
    align-items: center;
  
    border-radius: 100px;
  }
  
  @media only screen and (max-width: 700px) {
    nav ul {
      width: 100%;
      background: linear-gradient(#4286f5, #7fa8eb);
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
      text-align: center;
    }
  
    nav ul li {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    nav ul li a {
      color: #fff;
    }
  
    .menu-icon {
      display: block;
    }
  
    #menuList {
      overflow: hidden;
      transition: 0.5s;
    }
  
    .row {
      flex-direction: column-reverse;
      margin: 0;
    }
  
    .inge {
      margin: 0;
      flex-direction: column;
    }
  
    .col-2 {
      flex-basis: 100%;
      margin-bottom: 50px;
    }
  
    .col-2 .controller {
      width: 77%;
    }
  
    .color-box {
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(#d33333, #56001c);
      border-radius: 20px 0 0 20px;
      height: 100%;
      width: 150%;
      z-index: -1;
      transform: translateX(150px);
    }
  
    .col-1 {
      flex-basis: 100%;
    }
  
    .col-1 h2 {
      font-size: 35px;
    }
  
    .col-1 h3 {
      font-size: 25px;
    }
  
    .col-75 {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 105%;
    }
  
    small {
      font-size: 12px;
    }
  
    img#file-ip-1-preview {
      margin-left: -35px;
      height: 200px;
      border-radius: 40px;
    }
  }
  